.Sign__btn{
    color:grey;
    background-color: aliceblue;
    border-color: black;
}
.Login__Box{
    color: aliceblue;
    background-color:rgb(8, 55, 141);
    margin-top: 40px;
    height:fit-content;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid black;

}